<body>
    <div>
        <div class="">
            <p style="color: #0D4223;" class="uno"><strong>Some Of Our </strong></p>
            <div>
                <p style="color: #0D4223;" class="dos"><strong>Recent Projects</strong></p>
                <div class="line-container">
                    <hr class="hr1">
                  </div>
            </div>
        </div>
    </div>
    
    <div class="image-container">
        <div class="image-wrapper">
            
            <img src="../../assets/cap3.png" alt="">
        </div>
    
        <div class="image-wrapper">
            <img src="../../assets/Captura desde 2023-10-31 09-38-30.png" alt="">
        </div>
    
        <div class="image-wrapper">
            <img src="../../assets/cap2.png" alt="">
        </div>
    </div>
    
    <div>
        <button id="button1" routerLink="/projects" style="color: #0D4223;"><strong>View All Projects  <i class="fa-solid fa-arrow-right fa-lg" style="color: #0D4223;"></i> </strong></button>
    </div>
</body>