<body>
    <div>
        <div class="div2">
            <p class="why1"><strong>This Is Why</strong></p>
            <p  class="why2"><strong>You Should Choose Us</strong></p>
            <div class="line-container">
                <hr class="hr1">
              </div>
        </div>
    </div>
    
    <div class="columss">
    
    <div>
        <div>
            <button id="button1" class="buttonTree"><i class="fa-solid fa-leaf fa-lg" style="color: #529d20;"></i></button>
            <p style="color: #0D4223;"><strong>Certified Experts</strong></p>
        </div>
        <div class="" style="color: gray;">
            <!-- <p>click edit button to change this text.</p>
            <p>lorem ipsum dolor sit amet. auctor</p>
            <p>aliquier aenean solicitun</p> -->
            <p>Trust our certified gardening experts to transform your outdoor space into a natural oasis of beauty and serenity.</p>
        </div>
    
    </div>
    
    
    <div>
        <div>
            <button id="button1" class="buttonTree"><i class="fa-solid fa-tree fa-lg" style="color: #529d20;"> </i></button>
            <p style="color: #0D4223;"><strong>Quality Services</strong></p>
        </div>
        <div style="color: gray;">
            <!-- <p>click edit button to change this text.</p>
            <p>lorem ipsum dolor sit amet. auctor</p>
            <p>aliquier aenean solicitun</p> -->
            <p>Experience the transformation of your outdoor haven with the quality services of our certified gardening experts.</p>
        </div>
    
    </div>
    
    
    
    <div>
        <div>
            <button id="button1" class="buttonTree"><i class="fa-solid fa-spa fa-lg" style="color: #529d20;"> </i></button>
             <p style="color: #0D4223;"><strong>Affordable Pricing</strong></p>
        </div>
        <div style="color: gray;">
            <!-- <p>click edit button to change this text.</p>
            <p>lorem ipsum dolor sit amet. auctor</p>
            <p>aliquier aenean solicitun</p> -->
            <p>Experience the transformation of your outdoor haven with the quality services of our certified gardening experts at affordable pricing.</p>
        </div>
    
    </div>
    
    
    </div>
    
    <div class="info2">
        <p><strong>14+ Years Of Experience In</strong></p>
        <p><strong>Gardening & Landscaping</strong></p>
    </div>
</body>