<div class="mainDiv ">
    <div>
        <img class="image-container" src="../../assets/mainABout.jpeg" alt="">
    </div>

    <div class="mainDiv2">
        <div>
            <div class="welcome">
                <p style="color: #0D4223;"><strong>Welcome</strong></p>
            </div>
            <div class="welcome2">
            <p style="color: #0D4223;"><strong>A Few Words</strong></p>
            <p style="color: #0D4223;"><strong>About Us</strong></p>
            </div>
        </div>

        <div class="text4">
            <!-- <p>Lorem ipsum dolor sit amet consectetur</p>
            <p>Lorem ipsum dolor sit</p> -->
            <p>At V&L, we're passionate gardeners serving Sacramento County, Placer County, and the surrounding areas. With a steadfast commitment to green beauty and quality, we offer a wide range of gardening services, from lawn care to weed control and beyond.</p>
        </div>
        <div class="text4">
            <p class="text4Plus">Trust us to nurture and transform your outdoor spaces. Contact us today and let us care for your green haven.</p>
        </div>
        <div>
            <button id="button1"  style="color: white;" class="button1"><strong>Read More</strong></button>
        </div>
    </div>
</div>
