/* pantalla laptop */
img{
    width: 25%;
    padding-top: 1%;
    margin-left: 29%;
}

.nav-links{
    display: flex;
    padding-top: 4%;
    font-size: 17px;
}
.button1{
    color: white;
    background-color: #1D924E;
    border-radius: 8px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 20%;
    margin-top: 3%;
}
/* Estilo para la barra de navegación */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px; /* Espaciado interior */
    z-index: 100; /* Asegura que la barra de navegación esté encima de otros elementos */
    background-color: white;
}

/* Estilo para el contenido principal, agregando espacio en la parte superior para evitar que se solape con la barra de navegación */
body {
    margin-top: 80px; /* Ajusta esto para que coincida con la altura de tu barra de navegación */
}  
  #miBoton:active, #miBoton:focus {
    outline: none;         
    border: none;          
  }
  
  .button1:active, .button1:focus{
    outline: none;
    border: none;
  }