<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="navbar">
        <div class="col columns-3">
            <div>
                <img src="../../assets/image-removebg-preview (1).png" alt="">
            </div>
            <div class="nav-links">   
                <button  id="miBoton" routerLink="/" class="ml-3 mr-3 text-green-500"><strong>Home</strong></button>
                <button  id="miBoton" routerLink="/about" class="ml-3 mr-3"><strong>About</strong></button>
                <button  id="miBoton" routerLink="/services" class="ml-3 mr-3"><strong>Services</strong></button>
                <button  id="miBoton" routerLink="/projects" class="ml-3 mr-3"><strong>Projects</strong></button>
                <button  id="miBoton" routerLink="/reviews" class="ml-3 mr-3"><strong>Reviews</strong></button>
                <button  id="miBoton" class="ml-3 mr-3"><strong>Contact</strong></button>
            </div>
            <div>
                <button class="button1"><strong>Get a Quote</strong></button>
            </div>
        </div>
    </div>
    <!-- Resto del contenido de la página -->
</body>
</html>
