<app-nav></app-nav>
<div class="mainDiv">
    <app-nav></app-nav>
    <p class="p1" style="color: #32482c;"><strong>These Are Our</strong></p>
    <p class="p2" style="color: #32482c;"><strong>Reviews</strong></p>
</div>
<hr>


<div class="col columns-3">

    <div>1</div>

    <div>2</div>

    <div>3</div>
</div>

<div class="col columns-3">

    <div>4</div>

    <div>5</div>

    <div>6</div>
</div>

<div class="col columns-3">

    <div>7</div>

    <div>8</div>

    <div>9</div>
</div>
<app-footer></app-footer>