<div class="mainDiv">
    <app-nav></app-nav>
    <p class="p1" style="color: #32482c;"><strong>These Are Our</strong></p>
    <p class="p2" style="color: #32482c;"><strong>Projects</strong></p>
    </div>

    <div class="columnas">
        <div>
            <p class="p3" style="color: #32482c;"><strong>Projects</strong></p>
            <p class="p4" style="color: #32482c;" ><strong>Have A Look At</strong></p>
            <p class="p4" style="color: #32482c;" ><strong>Our Latest</strong></p>
            <p class="p4" style="color: #32482c;" ><strong>Projects</strong></p>
        </div>
        <div>
            <p style="color: gray;" class="p5" >Explore our green wonders! As a passionate gardener, I take pride in crafting breathtaking landscapes and nurturing nature's beauty. From vibrant flowerbeds to tranquil Zen gardens, my projects celebrate the art of horticulture. Take a stroll through my digital garden and witness the magic of nature's artistry.</p>
        </div>
        <div>
            <p style="color: gray;" class="p5">Discover the essence of nature in every project I undertake. As a dedicated gardener, my work is a testament to the harmony between human creativity and the natural world. Explore my portfolio, and let the lush landscapes and vibrant gardens speak to your soul, inviting you to embrace the beauty of the outdoors.</p>
        </div>
    </div>
    

    <div class="imgs1">
        <img src="../../assets/cap3.png" alt="">
        <img src="../../assets/Captura desde 2023-10-31 09-38-30.png" alt="">
        <img src="../../assets/cap2.png" alt="">
    </div>
    <app-contact-me></app-contact-me>
    <app-footer></app-footer>