<div>
    <img src="../../assets/image-removebg-preview (4).png" alt="">
</div>
<div>
    <p class="p1" style="color: #0D4223;"><strong>Give Us a Call At</strong></p>
    <div class="phone">
        <a href="tel:+1234567890"> <strong><strong>+1 (234) 567-890</strong></strong></a>
    </div>
    <div class="line-container">
        <hr class="hr1">
      </div>
      <div>
        <p class="p2" style="color: #0D4223;"><strong>Or Get A Free Estimate</strong></p>
      </div>
</div>
<div> 
  <button  class="primerA"><strong>Contact Us Today </strong></button> 
</div>