 <!-- segunda parte -->
 <div style="background-color: #f8f4ec;">
    <div class="segundapart">
        <p class="services" style="color: #0D4223;"><strong>Services</strong></p>
        <p class="services2" style="color: #0D4223;"><strong>Meet The Nature Halfway</strong></p>
    </div>
    <div class="line-container">
        <hr class="hr1">
      </div>
      <div class="allservices ">
        <div class="imgback">
            
        </div>
        <div>
            <div>
                <p class="number" style="color: green;"><strong>01.</strong></p>
                <p class="letrero"><strong> Seeding</strong></p>
            </div>
            <div class="textoinformation">
                    <p style="color: gray;">Seeding is the art of carefully sowing seeds in fertile soil to cultivate lush, vibrant gardens and landscapes.
                    </p>
                    <button routerLink="/services" class="readmore" style="color: green;"><strong>Read More</strong></button>
            </div>
        </div>

        <div>
            <div>
                <p class="number2" style="color: green;"><strong>02.</strong></p>
                <p class="letrero"><strong>Yard Clean Up</strong></p>
            </div>
            <div class="textoinformation">
                <p style="color: gray;">Yard clean-up is the meticulous process of tidying and beautifying outdoor spaces, ensuring a pristine and inviting environment.
                </p>
                    <button routerLink="/services" class="readmore" style="color: green;"><strong>Read More</strong></button>
            </div>
        </div>

        <div>
            <div>
                <p class="number3" style="color: green;"><strong>03.</strong></p>
                <p class="letrero"><strong>Weed Control</strong></p>
            </div>
            <div class="textoinformation">
                <p style="color: gray;">Weed control is the strategic management of unwanted plant growth, preserving the beauty and health of landscapes.
                </p>
                    <button routerLink="/services" class="readmore" style="color: green;"><strong>Read More</strong></button>
            </div>
        </div>
      </div>
      <button routerLink="/services" id="button1" class="buttonViewALl" style="color: white;"><strong>View All Services</strong></button>
</div>