<body >
    <div class="text-information1">
        <p><strong>it's Time For You To Have</strong></p>
    </div>
    <div class="text-information2">
        <p><strong>The Garden Of </strong></p>
        <p><strong>Your Dreams</strong></p>
    </div>
     <div class="text-information3">
        <p>We are specialists in gardening from pruning grass from pruning grass </p>
        <p>from pruning grass to arranging your plants from pruning grass from pruning grass </p>
        <p>Contact us and we will give you an estimate</p>
    </div> 
    <div class="phone">
        <a href="tel:+1234567890"> <strong>+1 (234) 567-890</strong></a>
    </div>
</body>
