<div class="mainDiv">
<app-nav></app-nav>
<p class="p1" style="color: #32482c;"><strong>These Are Our</strong></p>
<p class="p2" style="color: #32482c;"><strong>Services</strong></p>
</div>

<div class="mainDiv1 ">
    <div class="secondDiv">
        <p class="p3" style="color: green;"><strong>.01</strong></p>
        <p class="p4" style="color: rgb(8, 71, 8);"><strong>Mowing</strong></p>
    </div>
    <div class="mainparrafo">
        <p class="p5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est iste qui eum quae, quidem illo in error temporibus alias consectetur similique nemo expedita atque provident </p>
        <div>
        <p class="p6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est iste qui eum quae, quidem illo in error temporibus alias consectetur similique nemo expedita atque provident </p>

        </div>
    </div>

    <div class="mainImage">
        <img src="https://i.pinimg.com/564x/6c/9b/7b/6c9b7bf51cce2f22ca9863082e785376.jpg" alt="">
    </div>
</div>
<div class="mainDiv1 ">
    <div class="secondDiv">
        <p class="p3" style="color: green;"><strong>.02</strong></p>
        <p class="p4" style="color: rgb(8, 71, 8);"><strong>Edging </strong></p>
    </div>
    <div class="mainparrafo">
        <p class="p5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est iste qui eum quae, quidem illo in error temporibus alias consectetur similique nemo expedita atque provident numquam nesciunt non facere praesentium?</p>
        <div>
        <p class="p6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est iste qui eum quae, quidem illo in error temporibus alias consectetur similique nemo expedita atque provident numquam nesciunt non facere praesentium?</p>

        </div>
    </div>

    <div class="mainImage">
         <img src="https://i.pinimg.com/564x/67/bd/06/67bd0613c038d1a1b97883f31ac0f32e.jpg" alt="">
    </div>
</div>
<div class="mainDiv1 ">
    <div class="secondDiv">
        <p class="p3" style="color: green;"><strong>.03</strong></p>
        <p class="p4" style="color: rgb(8, 71, 8);"><strong>Mulching</strong></p>
    </div>
    <div class="mainparrafo">
        <p class="p5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est iste qui eum quae, quidem illo in error temporibus alias consectetur similique nemo expedita atque provident numquam nesciunt non facere praesentium?</p>
        <div>
        <p class="p6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est iste qui eum quae, quidem illo in error temporibus alias consectetur similique nemo expedita atque provident numquam nesciunt non facere praesentium?</p>

        </div>
    </div>

    <div class="mainImage">
        <img src="https://i.pinimg.com/564x/3c/61/ba/3c61bae9a0e68dd4a0f4a23b0a61b16e.jpg" alt="">
    </div>
</div>

<div class="divCheckmark" style="background-color: whitesmoke;">
    <p class="p7" style="color: #32482c;"><strong>More Services</strong></p>
    <p class="p8" style="color: #32482c;"><strong>We Use Plants To Bring Life</strong></p>
    <div class=" infoCheck">
        <div class="columns1">
            <p class="p9"> <i class="fa-solid fa-check chulito" style="color: #ffffff;"></i> Seeding</p>
            <p class="p9"> <i class="fa-solid fa-check chulito" style="color: #ffffff;"></i> Yard Clean Up</p>
            <p class="p9"> <i class="fa-solid fa-check chulito" style="color: #ffffff;"></i> Weed Control</p>
        </div>
        <div>
            <p class="p9"> <i class="fa-solid fa-check chulito" style="color: #ffffff;"></i> Fertilization</p>
            <p class="p9"> <i class="fa-solid fa-check chulito" style="color: #ffffff;"></i> Leaf Removal</p>
            <p class="p9"> <i class="fa-solid fa-check chulito" style="color: #ffffff;"></i> Landscaping</p>
        </div>
        <div>
            <p class="p9"> <i class="fa-solid fa-check chulito" style="color: #ffffff;"></i> Mowing</p>
            <p class="p9"> <i class="fa-solid fa-check chulito" style="color: #ffffff;"></i> Edging</p>
            <p class="p9"> <i class="fa-solid fa-check chulito" style="color: #ffffff;"></i> Mulching</p>
        </div>
    </div>
</div>
<app-contact-me></app-contact-me>
<app-footer></app-footer>